<div id="<%= dom_id author %>">
  <div class="flex flex-col justify-between relative overflow-x-auto shadow-md sm:rounded-lg border-2 border-slate-600">
    <div class= "flex flex-row justify-between border-2 border-slate-600">
        <div>
        Name:           
        </div>
        <div>
        <%= author.name %>
        </div>
    </div>     
    <div class= "flex flex-row justify-between border-2 border-slate-600">   
        <div>
        Phone Number:   
        </div>
        <div>
        <%= author.phone_number %>
        </div>
    </div>
    <div class= "flex flex-row justify-between border-2 border-slate-600">
        <div>
        Date of birth:
        </div>
        <div>
        <%= author.date_of_birth %>
        </div>
    </div>
    <div class= "flex flex-row justify-between border-2 border-slate-600">
        <div>
        Gender:
        </div>
        <div>
        <%= author.gender %>
        </div>
    </div>
    <div class= "flex flex-row justify-between border-2 border-slate-600">
        <div>
        Address:
        </div>
        <div>
        <%= author.address %>
        </div>
    </div>
    <div class= "flex flex-row justify-between border-2 border-slate-600">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <th>
            Books:
          </th>
        </thead>
          <%@author.books.each do |book|%>
        <tbody>
          <th>
          <%= book.title %>
          </th>
        </tbody>
      <%end%>
      </table>
    </div>
  </div>
</div>
